
          <div class="login-box card">
                      <div class="card-body">
                          <form class="form-horizontal form-material" id="loginform" action="index.html">

                            <!-- Titulo registro -->
                              <h3 class="box-title m-t-40 m-b-0">Registrate ahora</h3><small> Disfruta de los servicios que helpme te brindara</small>
                              <div class="form-group m-t-20">
                                  <div class="col-xs-12">
                                      <input class="form-control" type="text" required="" placeholder="Nombre">
                                  </div>
                              </div>
                              <!-- para correo -->
                              <div class="form-group ">
                                  <div class="col-xs-12">
                                      <input class="form-control" type="text" required="" placeholder="Correo">
                                  </div>
                              </div>

                              <!-- Boton para contraña -->
                              <div class="form-group ">
                                  <div class="col-xs-12">
                                      <input class="form-control" type="password" required="" placeholder="Contraseña">
                                  </div>
                              </div>

                              <!-- Boton para confirmar contraseña -->
                              <div class="form-group">
                                  <div class="col-xs-12">
                                      <input class="form-control" type="password" required="" placeholder="Confirme su contraseña">
                                  </div>
                              </div>

                              <!-- Boton del check para aceptar terminos -->
                      <div class="form-group row">
                        <div class="col-md-12">
                          <div class="checkbox checkbox-primary p-t-0">
                              <input id="checkbox-signup" type="checkbox">
                          <label for="checkbox-signup"> Acepto todos los terminos <a href="#">Terms</a></label>
                        </div>
                      </div>
                    </div>

          <!-- Boton para acceder al sistema -->
                  <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                          <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Crear cuenta</button>
                      </div>
                  </div>
          <!-- Boton para registrarse si no se tiene una cuenta -->
                  <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                      <p>Ya tienes una cuenta <a href="pages-login-2.html" class="text-info m-l-5"><b>Registrarse</b></a></p>
                  </div>
                </div>
              </form>
            </div>
          </div>


